@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Quicksand');


body {
  background-color: #F8A998;
  color: white;
   display: flex;
  font-family: Arial, Helvetica, sans-serif;

}

h1 {
  margin-bottom: 0px;
}

.container {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 3em;
  position: relative;
  /* height: 60vh; */
  margin: auto;
  width: 60%; 
  /* border: 2px solid white; */
  
}
.name {
  width: 8em;
  text-align: center;
  margin: auto;
  font-weight: 300;
  /* font-family: 'Merriweather', serif; */

}

div {
  padding: 2%;
}
i {
  padding-right: .3em;
}


.type{
  overflow: hidden;  
  border-right: 10px solid white;
  white-space: nowrap;
  width: 16.8em;
  margin: 0 auto;
  letter-spacing: .1em;
  position: relative;
  animation: typing 2.5s steps(30) normal both,
             blink-caret 500ms  steps(30) infinite normal;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100%; }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color:  white;}
}


/* .item {
  display: inline-block;

}



/* .rotate {
  animation-name: slideRight;
  animation-duration: 2.5s;
  animation-timing-function: easeOutExpo;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: forward;
  animation-fill-mode: forwards;
}
@keyframes slideRight {
  100% {
    transform: translateX(50vw) rotate(360deg);
  }
} */



